body {
	font-family: 'Open Sans', sans-serif;
}
/*----------intro---------------*/
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.intro {
	padding: 5px 15px;
	background-color: #111111;
	height: 100vh;
}
.header {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}
.logo__title {
	font-size: 24px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffffff;
}
.menu {
	width: 100%;
	max-width: 586px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.menu__link {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	transition: border-bottom, color 0.1s;
	transition: padding 0.09s;
	border-bottom: 3px solid transparent;

}
.menu__link:hover{
	border-bottom: 3px solid #fcac45;
}
.menu__link:active{
	color: #fcac45;
	padding-left: 3px;
}
.intro__main {
	max-width: 690px;
	margin: 225px auto;
}
.title {
	font-size: 44px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	color: #999999;
	text-align: center;
}
.title-yellow {
	font-weight: 700;
	color: #fcac45;
}
.subtitle {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: -0.05em;
	color: #999999;
	text-align: center;
	margin-top: 20px;
}
.subtitle-font {
	font-weight: 700;
	color: #c3c3c3;
}
@media (max-width: 1000px){
	.menu{display: none}
	.logo__title{margin: 0 auto;}
	.title{
		line-height: 40px;
	}
}
@media (max-width: 580px){
	.title-yellow{
		display: inline-block;
		font-size: 40px;
		margin-top: 5px;
	}
}
/*----------intro---------------*/
/*----------about---------------*/
.about {
	padding: 150px 0;
	min-height: 100vh;
}
.about-wrapper{
	display: flex;
	max-width: 1086px;
}
.about__some-words {
	margin-left: 175px;
}
.about__title {
	max-width: 395px;
	margin: 0 auto;
	font-size: 34px;
	line-height: 37px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	color: #222222;
	padding-bottom: 20px;
	border-bottom: 4px solid #fcac45;
}
.about__title-style{
	font-weight: 700;
}
.about__subtitle {
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
	letter-spacing: -0.04em;
	color: #6c6c6c;
	margin: 31px 0 45px 3px;
}
.about__list {
	margin-left: 3px;
}
.about__li {
	background: url(list.png) 0 5px no-repeat;
	padding-left: 25px;
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	letter-spacing: -0.01em;
	color: #5a5a5a;
	margin-bottom: 12px;
}
.about__li:last-child{
	margin-bottom: 0;
}
.about__li-style {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
}
@media (max-width: 1100px){
	.about__some-words{
		margin-left: 20px;
	}
}
@media (max-width: 910px){
	.intro__main{
		margin: 225px 0 0 0;
	}
	.about{
		padding: 90px 0;
	}
	.about__subtitle{
		margin: 15px 0 20px 0;
	}
	.about__title{
		margin-top: 30px;
		padding-bottom: 5px;
	}
	.about-wrapper{
		display: block;
		padding: 0 5px;
	}
	.about__image {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
	.image{
		width: 100%;
	}
}
/*----------about---------------*/
/*----------our-team------------*/
.our-team {
	background-color: #000;
	padding-top: 100px;
	padding-bottom: 130px;
}
.our-team__title {
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 44px;
	line-height: 38px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
}
.our-team__title:after{
	content: '';
	margin: 0 auto;
	margin-top: 30px;
	background: #fcac45;
	height: 5px;
	width: 100%;
	max-width: 99px;
}
.our-team__container-people{
	display: flex;
	justify-content: space-between;
	margin-top: 107px;
}
.out-team__people {
	max-width: 235px;
}
.our-team__ava {
	margin: 0 auto;
	max-width: 128px;
	border-radius: 50%;
	height: 127px;
	background-color: #eeeef0;
}
.our-team__name {
	margin-top: 23px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}
.our-team__prof {
	margin-top: 5px;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: #aeaeae;
}
.our-team__about {
	margin: 0 5px;
	text-align: center;
	margin-top: 35px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #aeaeae;
}
@media (max-width: 910px){
	.our-team__title:after{
		margin-top: 19px;
	}
	.our-team{
		padding: 50px 0;
	}
	.our-team__about{
		margin-top: 10px;
	}
}
@media (max-width: 700px){
	.our-team__container-people{
		display: block;
		margin: 15px 0 0 0;
	}
	.out-team__people{
		margin: 0 auto;
		margin-top: 10px;
	}
}
/*----------our-team------------*/
/*----------our-services--------*/
.our-services {
	padding: 100px 0;
}
.our-services__title {
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 44px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	color: #222222;
}
.our-services__title:after{
	content: '';
	margin: 0 auto;
	margin-top: 30px;
	background: #fcac45;
	height: 5px;
	width: 100%;
	max-width: 99px;
}
.our-services__btitile{
	text-align: center;
	margin-bottom: 55px;
}
.our-services__subtitle {
	margin-bottom: 100px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
	color: #6c6c6c;
}
.our-services__utility {}
.our-services__container {
	display: flex;
}
.our-services__item {
	margin-right: 40px;
}
.our-services__item:last-child{
	margin: 0;
}
.our-services__image {
	text-align: center;
	margin-bottom: 30px;
}
.our-services__title_b{
	text-align: center;
	margin-bottom: 25px;
	font-size: 25px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #222222;
}
.our-services__subtitle_b{
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #222222;
}
@media (max-width: 800px){
	.our-services{
		padding: 50px 0;
	}
	.our-services__subtitle{
		margin-bottom: 20px;
	}
	.our-services__container{
		display: block;
	}
	.our-services__item{
		margin: 0;
		margin-bottom: 10px;
	}
}
/*----------our-services--------*/
/*----some-of-our-clients-------*/
.some-of-clients {
	padding: 20vh 0;
	background: #000;
	min-height: 75vh;
}
.some-of-clients__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 44px;
	line-height: 39px;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffffff;
}
.some-of-clients__title:after{
	content: '';
	margin-top: 25px;
	width: 99px;
	height: 5px;
	background-color: #fcac45;
}
.some-of-clients_s {
	font-weight: 600;
}
.some-of-clients__row {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}
@media (max-width: 975px){
	.some-of-clients__row{
		display: block;
		text-align: center;
	}
	.some-of-clients__row img{
		margin: 10px 10px;
	}
}
/*----some-of-our-clients-------*/
/*----take-look-----------------*/
.take-look {
	padding: 100px 0;
	min-height: 100vh;
}
.take-look__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 44px;
	line-height: 40px;
	font-weight: 300;
	text-transform: uppercase;
	color: #222222;
}
.take-look__title:after{
	content: '';
	margin-top: 30px;
	width: 99px;
	height: 5px;
	background-color: #fcac45;
}
.take-look__title_s{
	font-weight: 600;
}
.take-look__subtitle {
	margin: 55px 0 145px 0;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
	color: #6c6c6c;
}
.take-look__block{
	margin: 0 auto;
	max-width: 1145px;
}
.take-look__row {
	display: flex;
	margin-top: 30px;
}
.take-look__row img{
	margin-right: 30px;
}
.take-look__row img:last-child{
	margin-right: 0;
}
@media (max-width: 1200px){
	.take-look__subtitle{
		margin: 20px 0 50px 0;
	}
	.take-look__row img:nth-child(4),.take-look__row img:nth-child(3), .take-look__row img:nth-child(2){
		display: none;
		visibility: hidden;
		opacity: 0;
	}
	.take-look__row img{
		width: 100%;
	}
	.take-look__row{
		margin: 30px auto 0 auto;
		max-width: 263px;
	}
}
/*----------take-look-----------*/
/*-----clients-testimonials-----*/
.clients-testimonials {
	background: #000;
	padding: 100px 0 173px 0;
}
.clients-testimonials__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 44px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
}
.clients-testimonials__title:after{
	content: '';
	margin-top: 30px;
	width: 99px;
	height: 5px;
	background-color: #fcac45;
}
.clients-testimonials__title_s {
	font-weight: 300;
}
.clients-testimonials__subtitle {
	text-align: center;
	margin: 118px 105px 0 105px;
	padding: 0 10px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #e7e7e7;
}
.clients-testimonials__p {
	text-align: center;
	margin-top: 50px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	color: #b2b2b2;
}
.clients-testimonials__p_s {
	font-weight: 300;
}
@media (max-width: 748px){
	.clients-testimonials__subtitle{
		margin: 50px auto;
	}
	.clients-testimonials__title{
		font-size: 40px;
	}
}
/*-----clients-testimonials-----*/
/*-----contact-us---------------*/
.contact-us {
	padding: 100px 0;
}
.container_c {
	max-width: 750px;
	margin: 0 auto;
}
.contact-us__title {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-size: 44px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	color: #222222;
}
.contact-us__title:after{
	content: '';
	margin-top: 30px;
	width: 99px;
	height: 5px;
	background-color: #fcac45;
}
.contact-us__subtitle {
	margin-top: 56px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
	color: #6c6c6c;
}
.contact-us__form {
	margin-top: 110px;
}
.contact-us__name {
	display: inline-block;
}
.contact-us__title_f{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #636363;
}
.contact-us__title_r {
	color: #db0000;
}
.contact-us__name-input {
	width: 358px;
	height: 42px;
	background-color: #ffffff;
	border: 1px solid rgba(0,0,0,0.4);
}
.contact-us__email {
	display: inline-block;
	margin-left: 28px;
}
.contact-us__email-input {
	width: 358px;
	height: 42px;
	background-color: #ffffff;
	border: 1px solid rgba(0,0,0,0.4);
}
.contact-us__text-area {
	margin-top: 51px;
}
.contact-us__text-a {
	width: 100%;
	max-width: 753px;
	height: 165px;
	background-color: #ffffff;
	border: 1px solid rgba(0,0,0,0.4);
	resize: none;
}
.contact-us__button_b{
	margin-top: 46px;
	float: right;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	color: #ffffff;
	width: 165px;
	height: 40px;
	background-color: #fcac45;
}
@media (max-width: 748px){
	.contact-us{
		padding: 50px 0;
	}
	.contact-us__form{
		margin-top: 40px;
	}
	.contact-us__name-input{
		display: block;
		width: 100%;
		max-width: 753px;
	}
	.contact-us__email-input{
		display: block;
		width: 100%;
		max-width: 753px;
	}
	.contact-us__name{
		display: block;
		margin-right: 10px;
		margin-left: 10px;
	}
	.contact-us__email{
		display: block;
		margin: 0 10px;
	}
	.contact-us__text-area{
		padding: 0 10px;
	}
	.contact-us__button_b{
		margin: 10px;
	}
}
@media (max-width: 400px){
	.contact-us__button{
		display: inline-block;
	}
	.contact-us__button_b{
		margin-top: 20px;
		float: none;
	}
	.contact-us__text-area {
		margin-top: 20px;
	}
}
/*-----contact-us---------------*/
/*--------footer----------------*/
.footer {
	width: 100%;
	height: 92px;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__image img{
	margin-right: 13px;
}
.footer__image img:last-child{
	margin-right: 0;
}
/*--------footer----------------*/
